$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "fonts";
@import "variables";


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: $font;
  text-rendering: optimizeLegibility;
}

.background {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  background-image: url('/images/tweed.png');
  z-index: -1;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: $nudge-grey;
  border-top: 1px solid $nudge-grey;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Header Section */

.l-head {
  text-align: center;
  color: #444;
  margin-top: 0px;
  margin-bottom: 29px;
  padding-bottom: 18px;
  border-bottom: 1px solid #777;
}

.j-head {
  text-align: center;
  color: #444;
  margin-top: 0px;
  margin-bottom: 29px;
  padding-bottom: 18px;
  border-bottom: 1px solid #777;
}

.nudgelogo {
  height: 50px;
  width: 50px;
  float: left;
  margin-left: 10px;
  margin-top: -2px;
}

/* Footer Section */

.l-footer {
  padding-top: 20px;
  border-top: 1px solid #777;
}

.j-footer {
  padding-top: 20px;
  border-top: 1px solid #777;
}

.j-required {
  text-align: left;
  padding-left: 27px;
  margin-bottom: 10px;
}

@media screen and (min-width: 900px) {
  .container {
    max-width: 880px;
  }
}

.container {
  margin-top: 50px;
}

.navbar-default {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  border: none;
  border-radius: 0px;
  background-color: white;
}

.navbar-brand {
  height: 50px;
  width: 50px;
  padding: 0px;
  margin-top: -14px;
  padding-left: 12px;
  color: $alazarin !important;
}

@media screen and (min-width: 768px) {
  .mobile-nav {
    border-top: none !important;
  }
}

.navbar-right {
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.mobile-nav {
  border-top: 2px solid #444;
}

.login-container {
  margin-top: 40px;
  margin-bottom: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .login-container {
    width: 90%;
    border-top: none !important;
  }
}

.join-container {
  margin-top: 40px;
  margin-bottom: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .join-container {
    width: 90%;
  }
}

.l-back {
  background-color: #444;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.85);
}

.j-back {
  background-color: #444;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.85);
}

/* Animation definitions */

.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}


/* This is the inputs section */

input {
  color: #444;
}

.l-username {
  border: none !important;
  background-color: white;
  width: calc(100% - 50px);
  text-align: center;
  font-size: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.l-username::-webkit-input-placeholder { color:#444; }
.l-username::-moz-placeholder { color:#444; } /* firefox 19+ */
.l-username:-ms-input-placeholder { color:#444; } /* ie */
.l-username:input:-moz-placeholder { color:#444; }

.l-password {
  border: none !important;
  background-color: white;
  width: calc(100% - 50px);
  text-align: center;
  font-size: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.l-password::-webkit-input-placeholder { color:#444; }
.l-password::-moz-placeholder { color:#444; } /* firefox 19+ */
.l-password:-ms-input-placeholder { color:#444; } /* ie */
.l-password:input:-moz-placeholder { color:#444; }

.j-input-1 {
  border: none !important;
  background-color: white;
  width: calc(100% - 50px);
  text-align: center;
  font-size: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.j-input-1::-webkit-input-placeholder { color:#444; }
.j-input-1::-moz-placeholder { color:#444; } /* firefox 19+ */
.j-input-1:-ms-input-placeholder { color:#444; } /* ie */
.j-input-1:input:-moz-placeholder { color:#444; }

.j-input-2 {
  border: none !important;
  background-color: white;
  width: calc(50% - 27px);
  text-align: center;
  font-size: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.j-input-2::-webkit-input-placeholder { color:#444; }
.j-input-2::-moz-placeholder { color:#444; } /* firefox 19+ */
.j-input-2:-ms-input-placeholder { color:#444; } /* ie */
.j-input-2:input:-moz-placeholder { color:#444; }


/* This is the button styling section. */

.button-login {
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
  float: right;
  height: 50px;
  width: 75px;
  background-color: transparent;
  color: $alazarin !important;
}

.button-join {
  border-radius: 0px;
  outline: none !important;
  float: right;
  height: 50px;
  width: 75px;
  background-color: transparent;
  color: $alazarin !important;
}

.glyphicon-th-large {
  top: 0;
  border: none;
  border-radius: 0px;
  outline: none !important;
  float: right;
  height: 50px;
  width: 50px;
  background-color: transparent;
  color: $alazarin !important;
  padding-bottom: 8px;
}

.l-login {
  width: calc(100% - 50px);
  border-radius: 4px;
  margin-bottom: 30px;
  font-size: 20px;
  border: none !important;
  color: white;
  background-color: $alazarin;
}

.j-join {
  width: calc(100% - 50px);
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 20px;
  border: none !important;
  color: white;
  background-color: $alazarin;
}

.mobile-nav-button {
  float: right !important;
  border: none;
  margin-right: 5px;
}

.mobile-nav-butt-bar {
  background-color: $alazarin !important;
}

.button-login:hover {
  outline: none !important;
  color: $green;
  background-color: white;
}

.button-login:active {
  outline: none !important;
}

.button-login:focus {
  outline: none !important;
}

.button-join:hover {
  outline: none !important;
  color: $alazarin;
  background-color: white;
}

.button-join:active {
  outline: none !important;
}

.glyphicon-th-large:hover {
  outline: none !important;
  background-color: white;
}

.mobile-nav-button:hover {
  background-color: transparent !important;
}

.mobile-nav-button {
  background-color: transparent !important;
}

.l-login:hover {
  outline: none !important;
  color: white;
}

.l-login:active {
  outline: none !important;
  color: white;
}

.l-login:focus {
  outline: none !important;
  color: white;
}

.j-join:hover {
  outline: none !important;
  color: white;
}

.j-join:active {
  outline: none !important;
  color: white;
}

.j-join:focus {
  outline: none !important;
  color: white;
}


/* Tile Section */
.main-container {
  margin-left: auto;
  margin-right: auto;
}

.tile-container {
  color: rgba(255,255,255,0.95);
  text-align: center;
  width: 100%;
}

.tile {
  margin: 5px;
  display: inline-block;
  white-space: no-wrap;
  overflow: hidden;
  color: $nudge-grey;
  min-width: 397px;
  min-height: 164px;
  background-color: transparent;
}

.tile-text {
  width: 377px;
  height: 144px;
  margin: 10px;
  /* position: absolute; */
  white-space: no-wrap;
  overflow: hidden;
  border-radius: 4px;
  color: $nudge-grey;
  background-color: rgba(68,68,68,0.7);
  z-index: -1;
}

.tile-text h3 {

  color: $alazarin;
}

.tile-img-container {
  width: 300px;
  height: 300px;
  margin: 5px;
  position: absolute;
  white-space: no-wrap;
  overflow: hidden;
  border-radius: 4px;
  z-index: -1;
}

.tile-img {
  width: 290px;
  height: 290px;
  padding: 5px;
}

/* Class to control our dialog styles */
.dialog-tile
{
  color: $alazarin;
  background-color: transparent;
  display: inline-block;
  white-space: no-wrap;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 890px) {
  .tile {
    min-width: 397px;
    min-height: 164px;
  }

  .tile-text {
    width: 377px;
    height: 144px;
  }

  .tile-img-container {
    width: 250px;
    height: 250px;
  }

  .tile-img {
    width: 240px;
    height: 240px;
  }
}

@media screen and (max-width: 450px) {
  .tile {
    min-width: 253px;
    min-height: 164px;
  }

  .tile-text {
    width: 233px;
    height: 144px;
  }

  .tile-img-container {
    width: 200px;
    height: 200px;
  }

  .tile-img {
    width: 190px;
    height: 190px;
  }
}














/* And now for something completely different... */
