$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Montserrat);

/* This is the color section breh 
  TURQUOISE">#ff1abc9c
  EMERALD">#ff2ecc71
  PETER">#ff3498db
  ASPHALT">#ff34495e
  GREEN">#ff16a085
  SUNFLOWER">#fff1c40f
  BELIZE">#ff2980b9
  WISTERIA">#ff8e44ad
  ALIZARIN">#ffe74c3c
  AMETHYST">#ff9b59b6 */
$turquoise: #1abc9c;
$emerald: #2ecc71;
$peter: #3498db;
$asphalt: #34495e;
$green: #16a085;
$sunflower: #f1c40f;
$belize: #2980b9;
$wisteria: #8e44ad;
$alazarin: #e74c3c;
$amethyst: #9b59b6;

/* This is the font section breh */

$font: 'Montserrat', arial, sans-serif;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: $font;
  text-rendering: optimizeLegibility;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
