$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "fonts";
@import "variables";


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 20px;
  font-family: $font;
  text-rendering: optimizeLegibility;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Header Section */

.j-head {
  text-align: center;
  color: #444;
  margin-top: 0px;
  margin-bottom: 29px;
  padding-bottom: 18px;
  border-bottom: 1px solid #777;
}

/* Footer Section */

.j-footer {
  padding-top: 20px;
  border-top: 1px solid #777;
}

.navbar-default {
  border: none;
  border-radius: 0px;
  background-color: #333;
}

.navbar-brand {
  color: $nudge-blue !important;
}

.navbar-right {
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.mobile-nav {
  border: none;
}

.login-container {
  margin-top: 50px;
  margin-bottom: 70px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .login-container {
    width: 90%;
  }
}

.join-container {
  margin-top: 40px;
  margin-bottom: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .join-container {
    width: 90%;
  }
}

.l-back {
  background-color: $nudge-grey;
  padding-top: 45px;
  padding-bottom: 40px;
  border-radius: 4px;
}

.j-back {
  background-color: #444;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  background-image: url('/images/billie_holiday.png');
}


/* This is the inputs section */

.l-username {
  border: none !important;
  background-color: $nudge-blue;
  width: calc(100% - 50px); 
  text-align: center; 
  font-size: 20px; 
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  margin-bottom: 10px;   
}

.l-username::-webkit-input-placeholder { color:white; }
.l-username::-moz-placeholder { color:white; } /* firefox 19+ */
.l-username:-ms-input-placeholder { color:white; } /* ie */
.l-username:input:-moz-placeholder { color:white; }

.l-password {
  border: none !important;
  background-color: $nudge-blue;
  width: calc(100% - 50px);
  text-align: center;
  font-size: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.l-password::-webkit-input-placeholder { color:white; }
.l-password::-moz-placeholder { color:white; } /* firefox 19+ */
.l-password:-ms-input-placeholder { color:white; } /* ie */
.l-password:input:-moz-placeholder { color:white; }

.j-input-1 {
  border: none !important;
  background-color: white;
  width: calc(100% - 50px); 
  text-align: center; 
  font-size: 20px; 
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  margin-bottom: 10px;   
}

.j-input-1::-webkit-input-placeholder { color:#444; }
.j-input-1::-moz-placeholder { color:#444; } /* firefox 19+ */
.j-input-1:-ms-input-placeholder { color:#444; } /* ie */
.j-input-1:input:-moz-placeholder { color:#444; }

.j-input-2 {
  border: none !important;
  background-color: white;
  width: calc(50% - 27px); 
  text-align: center; 
  font-size: 20px; 
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  margin-bottom: 10px;   
}

.j-input-2::-webkit-input-placeholder { color:#444; }
.j-input-2::-moz-placeholder { color:#444; } /* firefox 19+ */
.j-input-2:-ms-input-placeholder { color:#444; } /* ie */
.j-input-2:input:-moz-placeholder { color:#444; }


/* This is the button styling section. */

.button-login {
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 75px;
  background-color: transparent;
  color: white !important;
}

.button-join {
  border-radius: 0px;
  outline: none !important;
  float: right;
  height: 50px;
  width: 75px;
  background-color: transparent;
  color: white !important;
}

.glyphicon-th-large {
  top: 0;
  border: none;
  border-radius: 0px;
  outline: none !important;
  float: right;
  height: 50px;
  width: 50px;
  background-color: transparent;
  color: $nudge-blue !important;
  padding-bottom: 8px;
}

.l-login {
  width: calc(100% - 50px);
  border-radius: 4px;
  margin-bottom: 30px;
  font-size: 20px;
  border: none !important;
  color: white;
  background-color: $emerald;
}

.j-join {
  width: calc(100% - 50px);
  border-radius: 4px;
  margin-bottom: 30px;
  font-size: 20px;
  border: none !important;
  color: white;
  background-color: $nudge-blue;
}

.mobile-nav-button {
  border: none;
  margin-right: 5px;
}

.mobile-nav-butt-bar {
  background-color: $nudge-blue !important;
}

.button-login:hover {
  outline: none !important;
  color: $green;
  background-color: #444;
}

.button-login:active {
  outline: none !important;
}

.button-login:focus {
  outline: none !important;
}

.button-join:hover {
  outline: none !important;
  color: $alazarin;
  background-color: #444;
}

.button-join:active {
  outline: none !important;
}

.glyphicon-th-large:hover {
  outline: none !important;
  background-color: #2c3e50;
}

.mobile-nav-button:hover {
  background-color: transparent !important;
}

.mobile-nav-button {
  background-color: transparent !important;
}

/* Square section? */

.home-square-container {
  margin: 5px;
  display: inline-block;
  white-space: no-wrap;
  overflow: hidden;
  color: white;
}

.home-square {
  width: 150px;
  height: 150px;
  margin: 5px;
  display: inline-block;
  white-space: no-wrap;
  overflow: hidden;
  border-radius: 4px;
}

.home-square-img {
  width: 140px;
  height: 140px;
  padding: 5px;
}

.home-rectangle {
  width: 310px;
  height: 150px;
  margin: 5px;
  display: inline-block;
  white-space: no-wrap;
  overflow: hidden;
  border-radius: 4px;
}














/* And now for something completely different... */