/* This is the color section breh 
  TURQUOISE">#ff1abc9c
  EMERALD">#ff2ecc71
  PETER">#ff3498db
  ASPHALT">#ff34495e
  GREEN">#ff16a085
  SUNFLOWER">#fff1c40f
  BELIZE">#ff2980b9
  WISTERIA">#ff8e44ad
  ALIZARIN">#ffe74c3c
  AMETHYST">#ff9b59b6 */
$turquoise: #1abc9c;
$emerald: #2ecc71;
$peter: #3498db;
$asphalt: #34495e;
$green: #16a085;
$sunflower: #f1c40f;
$belize: #2980b9;
$wisteria: #8e44ad;
$alazarin: #e74c3c;
$amethyst: #9b59b6;
$nudge-blue: #17b6ff;