<div class="tile-container">
  <h2>Events</h2><br />
  <div class="tile switch1 animate-repeat" style="height: 80px; min-height: 80px;">

    <div class="tile-img-container" id="switch1-1">
      <!--<img class="tile-img" src="images/friends.png"/>-->
    </div>
    <div class="tile-text" id="switch1-2" ng-click="go('/events/new')">
      <h3>Create</h3>
    </div>

  </div>
  <div class="tile switch1" style="height: 120px; min-height: 120px;">

    <div class="tile-img-container" id="switch1-1">
      <!--<img class="tile-img" src="images/friends.png"/>-->
    </div>
    <div class="tile-text" id="switch1-2" ng-click="go('/events/new')">
      <h3>Search</h3>
      <form>
          <input type="text" placeholder="Enter an event title">
      </form>
    </div>

  </div>
  <div class="tile switch1" onclick="location.href='/#/events/me'">

    <div class="tile-img-container" id="switch1-1">
      <!--<img class="tile-img" src="images/friends.png"/>-->
    </div>
    <div class="tile-text" id="switch1-2">
      <h3>My Events</h3>
      Events you are hosting.<br />
      Hopefully you remembered...
    </div>

  </div>
  <div class="tile switch2" onclick="location.href='/#/events/rsvp'">

    <div class="tile-img-container" id="switch2-1">
      <!--<img class="tile-img" src="images/clink.png"/>-->
    </div>
    <div class="tile-text" id="switch2-2">
      <h3>RSVP'd</h3>
      Events you have signed up for.<br />
      Not having to host is da best!
    </div>

  </div>
</div>