<!--
Event Details parameters
Name: {{eventdetails.name}} <br />
Date: {{eventdetails.date}} <br />
Host ID: {{eventdetails.host_id}} <br />
Public: {{eventdetails.public}} <br />
Category: {{eventdetails.category}} <br />
Description: {{eventdetails.description}} <br />
Start Time: {{eventdetails.start_time}} <br />
End Time: {{eventdetails.end_time}} <br /> <br />

-->

<div class="tile-container">
	<div class="tile switch2 animate-if" ng-if="eventdetails.name" style="height:auto;">

	    <div class="tile-img-container" id="switch2-1">
	      <!--<img class="tile-img" src="images/clink.png"/>-->
	    </div>
	    <div class="tile-text" id="switch2-2" style="height:auto;">
	      	<h3>{{eventdetails.name}}</h3>
			<div ng-if="eventdetails.public == 0">
			This is event is private <br />
			</div>
			<div ng-if="eventdetails.category">
				{{eventdetails.category}} <br />
			</div>
			<div ng-if="eventdetails.description">
				{{eventdetails.description}} <br />
			</div>
			<div ng-if="eventdetails.start_time">
				{{eventdetails.start_time}} <br />
			</div>
			<div ng-if="eventdetails.end_time">
				{{eventdetails.end_time}} <br /> <br />
			</div>
			<br />
	      	<button class="btn j-join" ng-click="addEvent()" ng-if="eventdetails.public == 1">RSVP</button>
	      	<button class="btn j-join" ng-click="addEvent()" ng-if="eventdetails.public == 0">Request RSVP</button>
	      	<div class="animate-if" ng-if="eventdetails.status == 2">
				<button class="btn j-join" ng-click="acceptEvent()" ng-if="eventdetails.status == 2">Accept</button>
				<button class="btn j-join" ng-click="declineEvent()" ng-if="eventdetails.status == 2">Decline</button>
			</div>
	      	<div class="animate-if" ng-if="eventdetails.status == 1">
				RSVP Pending <br /> <br />
			</div>
			<div class="animate-if" ng-if="eventdetails.status == 5">
				You Are RSVP'd! <br /> <br />
			</div>
	    </div>

	  </div>
</div>