<div class="tile-container">
  <h2>Friends</h2><br />
  <div class="tile switch1">

    <div class="tile-text" id="switch1-2">
      <h3>Search</h3>
      <form ng-submit="searchSubmit()">
        <input ng-model="searchField" type="text" placeholder="Search for...">
      </form>
      <small ng-if="!search.result[0].id && searchSubmitted">
        Search returned no results.
      </small>
    </div>

  </div>


  <h2 ng-if="search.result[0].id" class="animate-if">Search Results</h2><br />
  <div ng-if="search.result[0].id" ng-repeat="profile in search.result" class="tile switch3 animate-if">
    <div class="tile-img-container" id="switch3-1">
    </div>
    <div class="tile-text" id="switch3-2" ng-click="go('/friend/{{profile.id}}')">
      <h3>{{profile.name}}</h3>
      {{profile.username}}
    </div>

  </div>


  <div class="tile switch2 animate-if" onclick="location.href='/#/events'" ng-if="friends.requestme">

    <div class="tile-img-container" id="switch2-1">
      <!--<img class="tile-img" src="images/clink.png"/>-->
    </div>
    <div class="tile-text" id="switch2-2">
      <h3>Friend Requests Received</h3>
      
    </div>

  </div>


  <div class="tile switch3 animate-if" onclick="location.href='/#/feed'" ng-if="friends.requested">
    
    <div class="tile-img-container" id="switch3-1">
      <!--<img class="tile-img" src="images/news.png"/>-->
    </div>
    <div class="tile-text" id="switch3-2">
      <h3>Friend Requests Sent</h3>
      
    </div>

  </div>


  <h2 ng-if="friends.friends" class="animate-if">Current Friends</h2><br />
  <div ng-if="friends.friends" ng-repeat="friend in friends.friends" class="tile switch3 animate-repeat">
    <div class="tile-img-container" id="switch3-1">
      <!--<img class="tile-img" src="images/news.png"/>-->
    </div>
    <div class="tile-text" id="switch3-2" ng-click="go('/friend/{{friend.id}}')">
      <h3>{{friend.name}}</h3>
      {{friend.username}}
    </div>

  </div>
</div>