<div class="tile-container">
  <h2>Friends</h2><br />
  <div class="tile switch1">

    <div class="tile-text" id="switch1-2">
      <h3>Search</h3>
      <form>
          <input type="text" placeholder="Enter a name" style="z-axis: 43543534534534;">
      </form>
    </div>

  </div>
  <div class="tile switch2" onclick="location.href='/#/events'">

    <div class="tile-img-container" id="switch2-1">
      <!--<img class="tile-img" src="images/clink.png"/>-->
    </div>
    <div class="tile-text" id="switch2-2">
      <h3>Events</h3>
      Find events, view your RSVPs and host events.
    </div>

  </div>
  <div class="tile switch3" onclick="location.href='/#/feed'">
    
    <div class="tile-img-container" id="switch3-1">
      <!--<img class="tile-img" src="images/news.png"/>-->
    </div>
    <div class="tile-text" id="switch3-2">
      <h3>Feed</h3>
      Everything around you.
    </div>

  </div>
</div>