<div class="join-container">
	<div class="j-back">
		<form class="j-form">
			<input class="j-username" placeholder="USERNAME" ng-model="login.username"></input><br />
			<input class="j-password" placeholder="PASSWORD" ng-model="login.password"></input><br />
			<input class="j-password" placeholder="First Name" ng-model="login.password"></input><br />
			<input class="j-password" placeholder="Last Name" ng-model="login.password"></input><br />
			<input class="j-password" placeholder="Email" ng-model="login.password"></input><br />
			<input class="j-password" placeholder="Phone Number" ng-model="login.password"></input><br />
			<input class="j-password" placeholder="Address 1" ng-model="login.password"></input><br />
			<input class="j-password" placeholder="Address 2" ng-model="login.password"></input><br />
			<input class="j-password" placeholder="City" ng-model="login.password"></input><br />
			<input class="j-password" placeholder="State" ng-model="login.password"></input><br />
			<input class="j-password" placeholder="Zip" ng-model="login.password"></input><br />
			<button class="btn j-join" ng-click="submit()">Join</button>
		</form>
		<span>Already have an account? </span><a href="/#/login">Login Here</a><span>.</span>
	</div>
</div>