<div class="join-container">
	<div class="j-back">
		<h2 class="j-head">Join</h2>
		<form name = "signupForm" class="j-form">
			<input class="j-input-1" placeholder="* Email" ng-model="join.username" required></input><br />
			<input type="password" class="j-input-1" placeholder="* Password" ng-model="join.password" required></input><br />
			<input type="password" class="j-input-1" placeholder="* Confirm Password" ng-model="join.confirmpassword" required></input><br />
			<input class="j-input-1" placeholder="* Name" ng-model="join.fullname" required></input><br />
			<input class="j-input-1" placeholder="Phone Number" ng-model="join.phone"></input><br />
			<input class="j-input-1" placeholder="Address 1" ng-model="join.add1"></input><br />
			<input class="j-input-1" placeholder="Address 2" ng-model="join.add2"></input><br />
			<input class="j-input-1" placeholder="City" ng-model="join.city"></input><br />
			<input class="j-input-2" placeholder="State" ng-model="join.state"></input>
			<input class="j-input-2" placeholder="Zip" ng-model="join.zip"></input><br />
			<button class="btn j-join" ng-disabled="!signupForm.$valid" ng-click="submit()">Join</button>
			<div class="j-required">* required fields</div>
		</form>
		<div class="j-footer"><span style="color: #444;">Already have an account? </span><a href="#/login">Login Here</a><span style="color: #444">.</span></div>
	</div>
</div>
