<div class="home-square-container">

  <div class="home-square">
  </div>
  <div class="home-square" style="background-color: #e74c3c;">
  </div>

</div>
<div class="home-square-container">

  <div class="home-square">
  </div>
  <div class="home-square" style="background-color: black;">
  </div>

</div>
<div class="home-square-container">
  
  <div class="home-square">
  </div>
  <div class="home-square" style="background-color: #e67e22;">
  </div>

</div>
<div class="home-square-container">
  
  <div class="home-rectangle" style="background-color: #2ecc71;">
  </div>

</div>
