<div class="main-container">  
  <div class="tile-container">
    <div class="tile switch1">

      <div class="home-square-img-container" id="switch1-1">
        <img class="home-square-img" src="images/friends.png"/>
      </div>
      <div class="home-square" id="switch1-2" style="background-color: #e74c3c;">
      </div>

    </div>
    <div class="tile switch2">

      <div class="home-square-img-container" id="switch2-1">
        <img class="home-square-img" src="images/clink.png"/>
      </div>
      <div class="home-square" id="switch2-2" style="background-color: #3498db;">
      </div>

    </div>
    <div class="tile switch3">
      
      <div class="home-square-img-container" id="switch3-1">
        <img class="home-square-img" src="images/news.png"/>
      </div>
      <div class="home-square" id="switch3-2" style="background-color: #e67e22;">
      </div>

    </div>
    <div class="home-square-container">
      
      <div class="home-rectangle" style="background-color: #2ecc71;">
      </div>

    </div>
  </div>
</div>